<div class="d-flex flex-column align-items-center">
    {% if posts %}
        {% for post in posts %}
            <div class="card mb-4" style="width: 100%; max-width: 600px;">
                <a href="{% url 'webapp:post_detail' pk=post.id %}">
                    <img src="{{ post.image.url }}" alt="Post image" class="card-img-top"
                         style="object-fit: cover; height: 400px;">
                </a>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <button type="button" data-js="like-button" data-post-id="{{ post.id }}"
                                data-action="{% if user in post.like_users.all %}unlike{% else %}like{% endif %}"
                                class="{% if user in post.like_users.all %}btn btn-danger{% else %}btn btn-primary{% endif %}">
                            <i class="bi {% if user in post.like_users.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                        </button>
                    {% endif %}
                    <span id="likes-count-{{ post.pk }}">{{ post.like_users.count }} likes</span><br>
                    <p class="card-text">
                        <a href="{% url 'webapp:post_detail' pk=post.pk %}" class="text-dark text-decoration-none">
                            {{ post.user.username }}
                        </a> {{ post.description }}
                    </p>
                    <p>Comments: {{ post.comments_count }}</p>
                    <hr>
                    {% if user.is_authenticated %}
                        <form action="{% url 'webapp:post_comment' pk=post.pk %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <textarea name="text" class="form-control" placeholder="Добавьте комментарий..."
                                          rows="2"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Оставить комментарий</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">Посты не найдены</p>
    {% endif %}
</div>