{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-column align-items-center">
        <div class="card mb-4" style="width: 100%; max-width: 600px;">
            <a href="{% url 'webapp:post_detail' pk=post.id %}">
                <img src="{{ post.image.url }}" alt="Post image" class="card-img-top"
                     style="object-fit: cover; height: 400px;">
            </a>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <button type="button" data-js="like-button" data-post-id="{{ post.id }}"
                            data-action="{% if user in post.like_users.all %}unlike{% else %}like{% endif %}"
                            class="{% if user in post.like_users.all %}btn btn-danger{% else %}btn btn-primary{% endif %}">
                        <i class="bi {% if user in post.like_users.all %}bi-heart-fill{% else %}bi-heart{% endif %}"></i>
                    </button>
                {% endif %}
                <span id="likes-count-{{ post.pk }}">{{ post.like_users.count }} likes</span><br>
                <p class="card-text">
                    <a href="{% url 'webapp:post_detail' pk=post.pk %}" class="text-dark text-decoration-none">
                        {{ post.user.username }}
                    </a> {{ post.description }}
                </p>
                <p>Comments: {{ post.comments_count }}</p>
                <hr>
                <form action="{% url 'webapp:post_detail' pk=post.pk %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Опубликовать</button>
                </form>
            </div>
        </div>
        <div class="mt-4">
            <h5>Комментарии</h5>
            {% for comment in comments %}
                <div class="comment mb-3">
                    <p><strong>{{ comment.user.username }}</strong> <small>{{ comment.created_at }}</small></p>
                    <p>{{ comment.text }}</p>
                </div>
            {% empty %}
                <p>Комментариев нет</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}